/*Creado por Camilo Barbosa*/
/**Creado por camilo barbosa*/
				
				h1{font-size: 10em;}
				h2{font-size: 8em;}			
				h3{font-size: 3em;}
				nav{ont-size: 3em;}	
				button{font-size: 3em;}		
				header{font-size: 1em;}
				article{font-size: 0.8em;}
				section{font-size: 4em;}
				section p{font-size: 3em;}
				